<div class="list-group" style="max-width: 500px;">
  <%= link_to 'Application Received', "/user_profile_edit/1", class: "list-group-item active" %>

  <%= link_to 'Application Confirmed', "/payment_information/1", class: "list-group-item #{'active' if false }" %>
  <%= link_to 'Application in Negotiation', "/connect_social_media/1", class: "list-group-item #{'active' if false}" %>
  <%= link_to 'Application Rejected', "/delete_user_profile/1", class: "list-group-item #{'active' if false }" %>
</div>  
