javascript:
  $(document).ready(function(){
    $('#profile_crop_x').val("0");
    $('#profile_crop_y').val("0");
    $('#profile_crop_w').val($('#cropbox')[0].naturalWidth);
    $('#profile_crop_h').val($('#cropbox')[0].naturalHeight);
  });
  
  $(document).ready(function(){
    $(".crop_pic").hide();
  });
  
  $(document).on("click", ".cancel_crop",function(){
    $(".crop_pic").find(".crop_heading").hide()
    $(".crop_pic").hide()
    $(".profile_pic").show()
  })