<h1>
  <div class="text_choose">
    <%= t('devise.registrations.not_found')%>
  </div>
</h1>
<%= link_to t('devise.registrations.visitor_registration'), new_visitor_registrations_path, class: 'btn btn-default btn-block btn-blue-i'%>
<%= link_to t('devise.registrations.musician_registration'), new_musician_registration_path, class: 'btn btn-default btn-block btn-blue-i'%>
