<section class="login-body">
  <div class="container">
    <div class="row">
      <div class="space40"></div>
      <div class="col-lg-8 col-lg-offset-2">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h1 class="panel-title">New Offer</h1>
          </div>
          <div class="panel-body edit-profile">
            <%= render 'form' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
