<div class="pages">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-header">
          <h1>About Us</h1>
        </div>
        <p><%= t('.description') %><p>

        <div class="space40"></div>
        <h2>Our Mission</h2>
        <ul>
          <li><%= t('.mission.li1') %></li>
          <li><%= t('.mission.li2') %></li>
        </ul>
        <div class="space40"></div>
        <h2>Our Goals</h2>
        <ul>
          <li>Create more opportunities and revenues for musicians, managers, promoters and booking agents.</li>
          <li>Become the world largest database for musicians and bookers.</li>
          <li>Increase the level of trust and safety in the music booking industry.</li>
          <li>Lower the risks taken by promoters while booking international performers by increasing tour opportunities
            for the musicians.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/blankfooter' %>
