<div class="pages">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-header">
          <h1>
            <%= t('.title') %>
            <br/>
            <h5><%= t('.in_construction') %></h5>
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/blankfooter' %>
