<div class="pages">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-header">
          <h1>Privacy Policy</h1>
        </div>
        <p>Protecting the privacy and security of your personal information is very important to
          us. Gig Bazaar is founded on the principles of keeping our word, and being
          responsible for the actions we take. We recognize the importance of maintaining your
          privacy with the information you entrust with us. This Privacy Notice will inform you
          of the types of information we collect, how we use that information, and the steps we
          take to safeguard the security of your information.</p>

        <p style="font-style:italic; font-size: 16px;">We do not disclose any nonpublic personal
          information about our
          members or former members to anyone, except as permitted or required
          by law.</p>

        <p>Our primary goal in collecting personally identifiable information is to provide you
          with our services as delivered by this web site, to communicate with you, to enable
          billing, and to improve our services.</p>

        <h2>What Information We Collect</h2>

        <p>If you wish to have access to the services provided by our web site, you will need to
          register to become a member. To accomplish this, you submit personally identifiable
          information which includes your name and email address that you
          create. If you choose to pay for additional service, payment information will also be
          collected. We may also collect your IP address and browser type.</p>

        <p>In the course of using the Gig Bazaar, you will enter additional information
          relating to the service and that is free format, and entirely specified by you.</p>

        <h2>Cookies</h2>

        <p>A cookie is a small collection of data that is sent by the web site computers to your
          computer. Cookies are required to run the Gig Bazaar, and allow you to
          effectively manage the services and functionality provided.</p>

        <h2>What Information We Disclose</h2>

        <p>Gig Bazaar may disclose personally identifiable information under certain
          circumstances to comply with laws and law enforcement.</p>

        <p>Gig Bazaar uses trusted third party hosting partners to provide hardware,
          software, storage, and systems necessary to run Gig Bazaar under binding
          contractual obligations to maintain the privacy and security of your data.</p>

        <p>The majority of information you enter into our applications will be related to the
          services provided, and are intended to be viewed by your friends and associates.</p>

        <h2>Risks</h2>

        <p>You post Member Content (as defined in the Gig Bazaar Terms of Service) on the
          Site at your own risk. Although we employ security techniques that limit access to
          your Gig Bazaar items, please be aware that no security measures are perfect or
          impenetrable. We cannot control the actions of other Members with whom you may
          choose to share your pages and information. Therefore, we cannot and do not
          guarantee that Member Content you post on the Site will not be viewed by
          unauthorized persons. We are not responsible for circumvention of any privacy
          settings or security measures contained on the Site. You understand and
          acknowledge that, even after removal, copies of User Content may remain viewable
          in cached and archived pages, or if other Users have copied or stored your User
          Content. Any improper collection or misuse of information provided on Gig Bazaar
          Apps is a violation of the Gig Bazaar Terms of Service and should be reported
          to <%= support_email_link %>.</p>

        <h2>Our Security Procedures</h2>

        <p>Gig Bazaar is very concerned about safeguarding the confidentiality of your
          personally identifiable data. We and our hosting partner employ administrative,
          physical and electronic measures designed to protect your information from
          unauthorized use.</p>

        <h2>Changes</h2>

        <p>Gig Bazaar will continue to review our internal security controls to safeguard
          your personal information as we employ new technology and offer new services in the
          future. This Privacy Policy may be updated in the future for any reason, and we will
          post the updated Policy on this site.</p>

        <h2>Questions</h2>

        <p>If you have any questions or concerns regarding this Privacy Policy, please contact us
          at
          <%= support_email_link %>.
        </p>

      </div>
    </div>
  </div>
</div>
<%= render 'shared/blankfooter' %>
