<div class="pages">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-header">
          <h1>Terms and Conditions</h1>
        </div>
        <div class="space40"></div>
        <p>Thanks for using our products and services (“Services”). The Services are provided by
          Gig Bazaar, a
        </p>

        <p>By using our Services, you are agreeing to these terms. Please read them carefully. If
          you do not agree to
          these terms, you are not authorized to use our Services.
        </p>

        <p>
          We offer a variety of Services, and sometimes additional terms may apply. When you use a Gig Bazaar
          Service you also will be subject to the guidelines, terms and agreements applicable to that Service
          ("Terms of Service"). Those additional terms become part of your agreement with us if you use those
          Services.
        </p>

        <h2>Using Gig Bazaar Services</h2>

        <p>You must follow any policies made available to you within the Services.</p>

        <p>You may use our Services only as permitted by law, including applicable export and
          re-export control
          laws and regulations. We may stop providing our Services to you if you do not comply with our terms or
          policies or if we are investigating suspected misconduct.</p>

        <p>Using our Services does not give you ownership of any intellectual property rights in
          our Services. You
          may not use content from our Services unless you obtain permission from its owner or are otherwise
          permitted by law. These terms do not grant you the right to use any branding or logos used in our
          Services. Don’t remove, obscure, or alter any legal notices displayed in or along with our Services.
        </p>

        <h2>Electronic Communications</h2>

        <p>When you use any Gig Bazaar Service, or send e-mails to us, you are communicating with
          us
          electronically.
          You consent to receive communications from us electronically. We will communicate with you by e-mail
          or by posting notices on this site or through the other Gig Bazaar Services. You agree that all agreements,
          notices, disclosures and other communications that we provide to you electronically satisfy any legal
          requirement that such communications be in writing.</p>

        <p>In connection with your use of the Services, we may send you service related
          announcements and other
          information. You may opt out of some of those communications.</p>

        <h2>Your Gig Bazaar Account</h2>

        <p>You will need a Gig Bazaar Account in order to use our Services. You may create your
          own
          Gig Bazaar
          Account, or your Gig Bazaar Account may be assigned to you by an administrator at your organization. If
          you are using a Gig Bazaar Account assigned to you by an administrator, different or additional terms may
          apply and your administrator may be able to access or disable your account.
        </p>

        <p>To protect your Gig Bazaar Account, keep your password confidential. You are
          responsible
          for the activity
          that happens on or through your Gig Bazaar Account. Do not reuse your Gig Bazaar Account password on
          other sites or applications. If you learn of any unauthorized use of your password or Gig Bazaar Account,
          please contact us immediately at
          <%= support_email_link %>.
        </p>

        <h2>Privacy and Copyright Protection</h2>

        <p>Gig Bazaar’s <%= link_to("privacy policy", privacy_policy_path, class: 'account') %>
          explain how we treat your personal data and protect your privacy when you use
          our Services. By using our Services, you agree that Gig Bazaar can use such data in accordance with our
          privacy policies.</p>

        <p>We respond to notices of alleged copyright infringement and terminate accounts of
          repeat infringers
          according to the process set out in the U.S. Digital Millennium Copyright Act.</p>

        <h2>Your Content in our Services</h2>

        <p>Some of our Services allow you to submit content. You retain ownership of any
          intellectual property
          rights that you hold in that content. In short, what belongs to you stays yours.
        </p>

        <p>When you upload or otherwise submit content to our Services, you give Gig Bazaar (and
          those we work
          with) a worldwide license to use, host, store, reproduce, modify, create derivative works (such as those
          resulting from translations, adaptations or other changes we make so that your content works better with
          our Services), communicate, publish, publicly perform, publicly display and distribute such content. The
          rights you grant in this license are for the limited purpose of operating, promoting, and improving our
          Services, and to develop new ones. This license continues even if you stop using our Services. Some
          Services may offer you ways to access and remove content that has been provided to that Service. Also,
          in some of our Services, there are terms or settings that narrow the scope of our use of the content
          submitted in those Services. Make sure you have the necessary rights to grant us this license for any
          content that you submit to our Services.
        </p>

        <p>You can find more information about how Gig Bazaar uses and stores content in the
          privacy
          policy or
          additional terms for particular Services. If you submit feedback or suggestions about our Services, we
          may use your feedback or suggestions without obligation to you.
        </p>

        <h2>Modifying and Terminating our Services</h2>

        <p>We are constantly changing and improving our Services. We may add or remove
          functionalities or
          features, and we may suspend or stop a Service altogether.
        </p>

        <p>You can stop using our Services at any time. Gig Bazaar may also stop providing
          Services
          to you, or add or
          create new limits to our Services at any time.
        </p>

        <p>We believe that you own your data and preserving your access to such data is
          important. If we
          discontinue a Service, where reasonably possible, we will give you reasonable advance notice and a
          chance to get information out of that Service.
        </p>

        <h2>Our Warranties and Disclaimers</h2>

        <p>We provide our Services using a commercially reasonable level of skill and care and we
          hope that you
          will enjoy using them. But there are certain things that we don’t promise about our Services.
        </p>

        <p>OTHER THAN AS EXPRESSLY SET OUT IN THESE TERMS OR ADDITIONAL TERMS,
          NEITHER GIG BAZAAR NOR ITS SUPPLIERS OR DISTRIBUTORS MAKE ANY SPECIFIC
          PROMISES ABOUT THE SERVICES. FOR EXAMPLE, WE DON’T MAKE ANY COMMITMENTS
          ABOUT THE CONTENT WITHIN THE SERVICES, THE SPECIFIC FUNCTIONS OF THE
          SERVICES, OR THEIR RELIABILITY, AVAILABILITY, OR ABILITY TO MEET YOUR NEEDS.
          WE PROVIDE THE SERVICES “AS IS”.
        </p>

        <p>SOME JURISDICTIONS PROVIDE FOR CERTAIN WARRANTIES, LIKE THE IMPLIED
          WARRANTY OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
          TO THE EXTENT PERMITTED BY LAW, WE EXCLUDE ALL WARRANTIES.
        </p>

        <h2>Liability for our Services</h2>

        <p>WHEN PERMITTED BY LAW, GIG BAZAAR, AND GIG BAZAAR’ SUPPLIERS AND DISTRIBUTORS,
          WILL NOT BE RESPONSIBLE FOR LOST PROFITS, REVENUES, OR DATA, FINANCIAL
          LOSSES OR INDIRECT, SPECIAL, CONSEQUENTIAL, EXEMPLARY, OR PUNITIVE
          DAMAGES.</p>

        <p >TO THE EXTENT PERMITTED BY LAW, THE TOTAL LIABILITY OF GIG BAZAAR, AND ITS
          SUPPLIERS AND DISTRIBUTORS, FOR ANY CLAIMS UNDER THESE TERMS, INCLUDING
          FOR ANY IMPLIED WARRANTIES, IS LIMITED TO THE AMOUNT YOU PAID US TO USE THE
          SERVICES (OR, IF WE CHOOSE, TO SUPPLYING YOU THE SERVICES AGAIN).</p>

        <p >IN ALL CASES, GIG BAZAAR, AND ITS SUPPLIERS AND DISTRIBUTORS, WILL NOT BE LIABLE
          FOR ANY LOSS OR DAMAGE THAT IS NOT REASONABLY FORESEEABLE.</p>

        <h2 >Business uses of our Services</h2>

        <p >If you are using our Services on behalf of a business or non-profit organization, that
          business or nonprofit
          accepts these terms. It will hold harmless and indemnify Gig Bazaar and its affiliates, officers, agents,
          and employees from any claim, suit or action arising from or related to the use of the Services or
          violation of these terms, including any liability or expense arising from claims, losses, damages, suits,
          judgments, litigation costs and attorneys’ fees.</p>

        <h2 >About these Terms</h2>

        <p >We may modify these terms or any additional terms that apply to a Service to, for
          example, reflect
          changes to the law or changes to our Services. You should look at the terms regularly. We’ll post notice
          of modifications to these terms on this page. We’ll post notice of modified additional terms in the
          applicable Service. Changes will not apply retroactively and will become effective no sooner than
          fourteen days after they are posted. However, changes addressing new functions for a Service or changes
          made for legal reasons will be effective immediately. If you do not agree to the modified terms for a
          Service, you should discontinue your use of that Service.</p>

        <p >If there is a conflict between these terms and the additional terms, the additional
          terms will control for
          that conflict.</p>

        <p >These terms control the relationship between Gig Bazaar and you. They do not create
          any
          third party
          beneficiary rights.</p>

        <p >If you do not comply with these terms, and we don’t take action right away, this
          doesn’t mean that we
          are giving up any rights that we may have (such as taking action in the future).</p>

        <p >If it turns out that a particular term is not enforceable, this will not affect any
          other terms.</p>

        <p >Any claim relating to Gig Bazaar's web site shall be governed by the laws of the State
          of
          Thailand without regard to its conflict of law provisions.</p>
        <hr/>
        <p >Last Updated: May 8, 2015.</p>

      </div>
    </div>
  </div>
</div>
<%= render 'shared/blankfooter' %>
