<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav navbar-left currency">
    <li>
      <!--
     <%= render 'home/select_preferred_currency' %>
     -->
   </li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
  </ul>
</div>
