<div class="profile-email">
  <p>From: gee@gigbazaar.com</p>
  <p>Title: invitation from NAME2 to connect with gigbazaar</p>
  <a class="btn btn_connect profile_save" href="http://localhost:3000/users/auth/facebook"> Connect to facebook</a>
</div>  