= link_to 'Send Reset Password Email', {}, id: 'reset_password' # current url

- content_for :javascript_includes do
  = javascript_include_tag "admin_reset_user_password.js"

= yield(:javascript_includes)
