.picture-chatting
{
  width: 75px;
  height: 75px;
}
.picture-grid-list
{
  width: 100px;
  height: 100px;
}
.flash_message_index{
  position:absolute;
  z-index:5;
  margin-top:30px;
  right:50px;
  width:auto;
  white-space: nowrap;
}
.flash_message_index_message{
  padding-right:25px;
}

.musician-profile .rateit .rateit-range {
  position: relative;
  top: 1px;
}
