pre.pre_text_area{
  height:170px;
}
.p_description{
  word-wrap: break-word;
  width:420px;
}
.p_headline{
  word-wrap: break-word;
  width:170px;
}

#service_form {
  .inline-control {
    display: inline-block;
    width: 4.5em;
  }
}