<p>Welcome <%= @resource.email %> !</p>
<% if controller.resource.provider.nil? %>
  <div class="content">
    <p>You can confirm your account email through the link below:</p>
    <p>
      <%= link_to 'Confirm my account', user_confirmation_url(confirmation_token: @token) %>
    </p>
  </div>
  <p style="line-height: 70%;">Best Regards,</p>
  <p style="line-height: 70%;">The gigBazaar Team </p>
<% else %>
  <p>You have successfully signed up using facebook!</p>
<% end %>
